<a href="https://colab.research.google.com/github/romit-s/reunion/blob/master/ML_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.read_csv("loan.csv")

In [ ]:
df2 = pd.read_csv("applicant.csv")
df2.head()
'''Converting Data to int'''
for i in range(len(df2)):
  try:
    df2.at[i,'Has_been_employed_for_at_least']=int(df2.at[i,'Has_been_employed_for_at_least'].split(" ")[0])
  except Exception:
    #substituting null value to mode of the dataframe column
    df2.at[i,'Has_been_employed_for_at_least']=1
  try:
    df2.at[i,'Has_been_employed_for_at_most']=int(df2.at[i,'Has_been_employed_for_at_most'].split(" ")[0])
  except Exception:
    df2.at[i,'Has_been_employed_for_at_most']=4
    
df2.head()

,applicant_id,Primary_applicant_age_in_years,Gender,Marital_status,Number_of_dependents,Housing,Years_at_current_residence,Employment_status,Has_been_employed_for_at_least,Has_been_employed_for_at_most,Telephone,Foreign_worker,Savings_account_balance,Balance_in_existing_bank_account_(lower_limit_of_bucket),Balance_in_existing_bank_account_(upper_limit_of_bucket)
0,1469590,67,male,single,1,own,4,skilled employee / official,7,0,Registered under the applicant's name,1,NaN,NaN,0
1,1203873,22,female,divorced/separated/married,1,own,2,skilled employee / official,1,4,NaN,1,Low,0,2 lac
2,1432761,49,male,single,2,own,3,unskilled - resident,4,7,NaN,1,Low,NaN,NaN
3,1207582,45,male,single,2,for free,4,skilled employee / official,4,7,NaN,1,Low,NaN,0
4,1674436,53,male,single,2,for free,4,skilled employee / official,1,4,NaN,1,Low,NaN,0

Joining the two dataframes

In [ ]:
combined_df = pd.concat([df1.set_index('applicant_id'),df2.set_index('applicant_id')], axis=1, join='inner')
combined_df.columns

Index(['loan_application_id', 'Months_loan_taken_for', 'Purpose',
       'Principal_loan_amount', 'EMI_rate_in_percentage_of_disposable_income',
       'Property', 'Has_coapplicant', 'Has_guarantor', 'Other_EMI_plans',
       'Number_of_existing_loans_at_this_bank', 'Loan_history',
       'high_risk_applicant', 'Primary_applicant_age_in_years', 'Gender',
       'Marital_status', 'Number_of_dependents', 'Housing',
       'Years_at_current_residence', 'Employment_status',
       'Has_been_employed_for_at_least', 'Has_been_employed_for_at_most',
       'Telephone', 'Foreign_worker', 'Savings_account_balance',
       'Balance_in_existing_bank_account_(lower_limit_of_bucket)',
       'Balance_in_existing_bank_account_(upper_limit_of_bucket)'],
      dtype='object')

Dropping Unhelpful columns

In [ ]:
combined_df = combined_df.drop(['Telephone'],axis=1)
combined_df = combined_df.drop(['loan_application_id'],axis=1)
combined_df = combined_df.drop(['Balance_in_existing_bank_account_(lower_limit_of_bucket)'],axis=1) 
combined_df = combined_df.drop(['Balance_in_existing_bank_account_(upper_limit_of_bucket)'],axis=1)
combined_df = combined_df.drop(['Purpose'],axis=1)
combined_df = combined_df.drop(['Other_EMI_plans'],axis=1)
# combined_df = combined_df.drop(['Foreign_worker'],axis=1)
combined_df.isnull().sum()

Months_loan_taken_for                            0
Principal_loan_amount                            0
EMI_rate_in_percentage_of_disposable_income      0
Property                                       154
Has_coapplicant                                  0
Has_guarantor                                    0
Number_of_existing_loans_at_this_bank            0
Loan_history                                     0
high_risk_applicant                              0
Primary_applicant_age_in_years                   0
Gender                                           0
Marital_status                                   0
Number_of_dependents                             0
Housing                                          0
Years_at_current_residence                       0
Employment_status                                0
Has_been_employed_for_at_least                   0
Has_been_employed_for_at_most                    0
Foreign_worker                                   0
Savings_account_balance                        183
dtype: int64

Handling Null Values

In [ ]:
combined_df["Property"].fillna("No property", inplace = True)
combined_df["Savings_account_balance"].fillna("No Balance", inplace=True)
# combined_df['Other_EMI_plans'].fillna('Other_EMI_plans', inplace=True)
combined_df.isnull().sum()

Months_loan_taken_for                          0
Principal_loan_amount                          0
EMI_rate_in_percentage_of_disposable_income    0
Property                                       0
Has_coapplicant                                0
Has_guarantor                                  0
Number_of_existing_loans_at_this_bank          0
Loan_history                                   0
high_risk_applicant                            0
Primary_applicant_age_in_years                 0
Gender                                         0
Marital_status                                 0
Number_of_dependents                           0
Housing                                        0
Years_at_current_residence                     0
Employment_status                              0
Has_been_employed_for_at_least                 0
Has_been_employed_for_at_most                  0
Foreign_worker                                 0
Savings_account_balance                        0
dtype: int64

In [ ]:
y = combined_df['high_risk_applicant']
X = combined_df.drop('high_risk_applicant', axis=1)
combined_df.columns.get_loc("Housing")

13

One Hot Encoding Categorical variables

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
transformer = make_column_transformer((OneHotEncoder(), ['Housing','Marital_status' ,'Property' , 'Loan_history','Gender','Employment_status','Savings_account_balance']),remainder='passthrough')

transformed = transformer.fit_transform(X)
transformed_df = pd.DataFrame(transformed, columns=transformer.get_feature_names())
X = np.array(transformed_df)
X

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size=.2, random_state=123)

In [ ]:
print(X_train)

[[0.0 0.0 1.0 ... 4 7 1]
 [1.0 0.0 0.0 ... 1 4 1]
 [0.0 1.0 0.0 ... 7 0 1]
 ...
 [0.0 0.0 1.0 ... 4 7 1]
 [0.0 1.0 0.0 ... 4 7 1]
 [0.0 1.0 0.0 ... 4 7 1]]

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Artifical Neural Network Model

In [ ]:
import tensorflow as tf
ann = tf.keras.models.Sequential()

In [ ]:

ann.add(tf.keras.layers.Dense(units=6, activation='relu'))
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [ ]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
25/25 [==============================] - 1s 2ms/step - loss: 0.7197 - accuracy: 0.4775
Epoch 2/100
25/25 [==============================] - 0s 2ms/step - loss: 0.6855 - accuracy: 0.5825
Epoch 3/100
25/25 [==============================] - 0s 2ms/step - loss: 0.6631 - accuracy: 0.6325
Epoch 4/100
25/25 [==============================] - 0s 2ms/step - loss: 0.6472 - accuracy: 0.6725
Epoch 5/100
25/25 [==============================] - 0s 3ms/step - loss: 0.6332 - accuracy: 0.7000
Epoch 6/100
25/25 [==============================] - 0s 3ms/step - loss: 0.6207 - accuracy: 0.7125
Epoch 7/100
25/25 [==============================] - 0s 3ms/step - loss: 0.6088 - accuracy: 0.7250
Epoch 8/100
25/25 [==============================] - 0s 3ms/step - loss: 0.5979 - accuracy: 0.7300
Epoch 9/100
25/25 [==============================] - 0s 3ms/step - loss: 0.5885 - accuracy: 0.7312
Epoch 10/100
25/25 [==============================] - 0s 3ms/step - loss: 0.5792 - accuracy: 0.7312
Epoch 11/100
25/25 [==============================] - 0s 3ms/step - loss: 0.5708 - accuracy: 0.7350
Epoch 12/100
25/25 [==============================] - 0s 3ms/step - loss: 0.5630 - accuracy: 0.7387
Epoch 13/100
25/25 [==============================] - 0s 3ms/step - loss: 0.5552 - accuracy: 0.7425
Epoch 14/100
25/25 [==============================] - 0s 3ms/step - loss: 0.5476 - accuracy: 0.7538
Epoch 15/100
25/25 [==============================] - 0s 2ms/step - loss: 0.5406 - accuracy: 0.7500
Epoch 16/100
25/25 [==============================] - 0s 2ms/step - loss: 0.5338 - accuracy: 0.7588
Epoch 17/100
25/25 [==============================] - 0s 2ms/step - loss: 0.5271 - accuracy: 0.7625
Epoch 18/100
25/25 [==============================] - 0s 2ms/step - loss: 0.5208 - accuracy: 0.7600
Epoch 19/100
25/25 [==============================] - 0s 3ms/step - loss: 0.5156 - accuracy: 0.7613
Epoch 20/100
25/25 [==============================] - 0s 2ms/step - loss: 0.5102 - accuracy: 0.7663
Epoch 21/100
25/25 [==============================] - 0s 3ms/step - loss: 0.5052 - accuracy: 0.7638
Epoch 22/100
25/25 [==============================] - 0s 2ms/step - loss: 0.5010 - accuracy: 0.7675
Epoch 23/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4970 - accuracy: 0.7688
Epoch 24/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4930 - accuracy: 0.7700
Epoch 25/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4889 - accuracy: 0.7738
Epoch 26/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4857 - accuracy: 0.7750
Epoch 27/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4824 - accuracy: 0.7763
Epoch 28/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4795 - accuracy: 0.7800
Epoch 29/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4777 - accuracy: 0.7850
Epoch 30/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4754 - accuracy: 0.7812
Epoch 31/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4740 - accuracy: 0.7800
Epoch 32/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4721 - accuracy: 0.7862
Epoch 33/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4707 - accuracy: 0.7875
Epoch 34/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4683 - accuracy: 0.7900
Epoch 35/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4671 - accuracy: 0.7887
Epoch 36/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4656 - accuracy: 0.7912
Epoch 37/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4648 - accuracy: 0.7912
Epoch 38/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4630 - accuracy: 0.7887
Epoch 39/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4620 - accuracy: 0.7925
Epoch 40/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4613 - accuracy: 0.7912
Epoch 41/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4586 - accuracy: 0.7925
Epoch 42/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4580 - accuracy: 0.7912
Epoch 43/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4574 - accuracy: 0.7950
Epoch 44/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4558 - accuracy: 0.7950
Epoch 45/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4540 - accuracy: 0.7937
Epoch 46/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4533 - accuracy: 0.7950
Epoch 47/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4523 - accuracy: 0.7975
Epoch 48/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4514 - accuracy: 0.7975
Epoch 49/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4502 - accuracy: 0.7950
Epoch 50/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4486 - accuracy: 0.8000
Epoch 51/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4472 - accuracy: 0.8012
Epoch 52/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4462 - accuracy: 0.8012
Epoch 53/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4447 - accuracy: 0.8025
Epoch 54/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4447 - accuracy: 0.7975
Epoch 55/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4424 - accuracy: 0.8012
Epoch 56/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4416 - accuracy: 0.8000
Epoch 57/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4406 - accuracy: 0.7987
Epoch 58/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4398 - accuracy: 0.8025
Epoch 59/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4386 - accuracy: 0.8025
Epoch 60/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4371 - accuracy: 0.8025
Epoch 61/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4364 - accuracy: 0.8025
Epoch 62/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4352 - accuracy: 0.7987
Epoch 63/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4350 - accuracy: 0.8012
Epoch 64/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4333 - accuracy: 0.8000
Epoch 65/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4324 - accuracy: 0.8000
Epoch 66/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4317 - accuracy: 0.8000
Epoch 67/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4304 - accuracy: 0.8037
Epoch 68/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4297 - accuracy: 0.8025
Epoch 69/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4289 - accuracy: 0.8037
Epoch 70/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4283 - accuracy: 0.8075
Epoch 71/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4274 - accuracy: 0.8062
Epoch 72/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4261 - accuracy: 0.8050
Epoch 73/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4254 - accuracy: 0.8025
Epoch 74/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4250 - accuracy: 0.8025
Epoch 75/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4241 - accuracy: 0.8037
Epoch 76/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4228 - accuracy: 0.8037
Epoch 77/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4237 - accuracy: 0.8037
Epoch 78/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4227 - accuracy: 0.8037
Epoch 79/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4205 - accuracy: 0.8062
Epoch 80/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4199 - accuracy: 0.8037
Epoch 81/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4190 - accuracy: 0.8062
Epoch 82/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4186 - accuracy: 0.8075
Epoch 83/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4178 - accuracy: 0.8050
Epoch 84/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4174 - accuracy: 0.8075
Epoch 85/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4165 - accuracy: 0.8087
Epoch 86/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4156 - accuracy: 0.8087
Epoch 87/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4148 - accuracy: 0.8075
Epoch 88/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4141 - accuracy: 0.8112
Epoch 89/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4142 - accuracy: 0.8112
Epoch 90/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4128 - accuracy: 0.8112
Epoch 91/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4126 - accuracy: 0.8112
Epoch 92/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4119 - accuracy: 0.8138
Epoch 93/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4115 - accuracy: 0.8125
Epoch 94/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4104 - accuracy: 0.8175
Epoch 95/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4102 - accuracy: 0.8163
Epoch 96/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4090 - accuracy: 0.8175
Epoch 97/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4087 - accuracy: 0.8163
Epoch 98/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4079 - accuracy: 0.8200
Epoch 99/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4071 - accuracy: 0.8188
Epoch 100/100
25/25 [==============================] - 0s 3ms/step - loss: 0.4072 - accuracy: 0.8188

In [ ]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.3)
# print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

7/7 [==============================] - 0s 4ms/step

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[104  35]
 [ 25  36]]

0.7

Naive Bayes Model

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[107  32]
 [ 24  37]]

0.72

Kernel SVC Model

In [ ]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[133   6]
 [ 48  13]]

0.73